{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- about (learn more)-->
<section class="learn-more">
    <div class="section-wrapper">
        <h1>about us</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, asperiores odit aliquid, maiores amet ad, culpa optio cum facere sint voluptatum sit. Non, quae optio dolor quam natus ipsa explicabo?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, asperiores odit aliquid, maiores amet ad, culpa optio cum facere sint voluptatum sit. Non, quae optio dolor quam natus ipsa explicabo?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, asperiores odit aliquid, maiores amet ad, culpa optio cum facere sint voluptatum sit. Non, quae optio dolor quam natus ipsa explicabo?</p>
    </div>
</section>
<!-- end of about -->
{% endblock %}